
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.round-image{
border-radius: 50%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("campus.jpg");
    background-position: center;
    background-size:cover ;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 100px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(247, 247, 251);
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width:90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 63px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    border-radius: 12px;
}
nav .fa{
    display: none;
}
@media (max-width:700px){
 
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        
    }
    .nav-links{
        position:absolute ; 
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index:2;
        transition: 1s;
  
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #282626bd;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.362);
}
@media (max-width:700px){
    .row{
        flex-direction: column;
    }
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: rgb(0, 0, 0);
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    height: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover{
    background: rgba(28, 41, 94, 0.497);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color:whitesmoke;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s;
    position: absolute;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.facilities-col p{
    padding: 0;

}
.facilities-col h3{
    margin-top: 16px;
    text-align: left;
    margin-bottom: 15px;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(46, 46, 46, 0.521),rgba(54, 54, 54, 0.548)),url("old.jpg");
    background-position: center;
    background-size: cover;
    text-align:center;
    padding: 100px 0;
    border-radius: 10px;
}
.cta h1{
    color: #fff;
    margin: 40px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size:14px;
    }
}
.footer{
    background-color: #f44336;
    width: 100%;
    text-align: center;
    padding :30px 0;
    color: #fff;
    
}
.footer p{
    color: #fff;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
}
.icons .fab{
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding:18px 0;
}
.fa-heart{
    color: #f9f9f9;
}
.sub-header{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("about.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 20px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px  0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
    border-radius: 34px;
}
/* admission button */
.glow-on-hover {
    width: 340px;
    height: 75px;
    font-size: 20px;
    color: #fff;
    background-color: #d52c2c;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 32px;
  }
  
  .glow-on-hover:before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
    transform: translate(50%, 50%);
  }
  .glow{
    margin-top: 47px;
    margin-left: 37%;
  }
  @media screen and (max-width: 768px) {
    .glow-on-hover {
      width: 90%;
      height: 6vh;
      font-size: 3vh;
    }
    
    .glow{
      margin-top: 3vh;
      margin-left: 5%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .glow-on-hover {
      width: 100%;
      height: 10vh;
      font-size: 5vh;
    }
    
    .glow{
      margin-top: 5vh;
      margin-left: 0;
      text-align: center;
    }
  }
 
 .contact-us{
    height: 56vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("contact.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
   
}
/* contact */
.row-1{
    margin-top:12px;
    display: flex;
    justify-content:space-evenly;

}
.sub-header-1{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("staff.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    overflow: hidden;
}
.news-ticker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f44336;
    font-size: 19px;
    color: #fff;
    overflow: hidden;
  }
  
  .news-ticker ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
  }
  
  .news-ticker li {
    display: inline-block;
    margin-right: 20px;
  }
  
  @media only screen and (max-width: 767px) {
    .news-ticker li {
      font-size: 14px;
      margin-right: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .news-ticker li {
      font-size: 12px;
      margin-right: 5px;
    }
  }
  
  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .sub-header-2{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("project.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.header-1{
    height: 89vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("memo27.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
/* Style for the image grid container */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  /* Style for the image wrappers */
  .image-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%; /* maintain aspect ratio of image */
  }
  
  /* Style for the images */
  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* preserve aspect ratio and fill wrapper */
    transition: transform 0.3s ease;
  }
  
  /* Hover effect on images */
  .image-wrapper:hover img {
    transform: scale(1.2);
  }
  
  .animate__animated {
    animation-fill-mode: both;
  }
  
  .animate__bounce {
    animation-name: bounce;
  }
  
  @media screen and (max-width: 768px) {
    .animate__animated {
      font-size: 24px;
      animation-duration: 3s;
    }
  }
  
  @media screen and (min-width: 769px) {
    .animate__animated {
      font-size: 48px;
      animation-duration: 3s;
    }
  }
  
  @keyframes bounce {
    /* keyframe rules go here */
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
      }
    
      40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
      }
    
      70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
      }
    
      90% {
        transform: translate3d(0,-4px,0);
      }
    }
    .lab{
      height: 56vh;
      width: 100%;
      background-image: linear-gradient(rgba(4, 9, 30, 0.623),rgba(31, 46, 107, 0.7)),url("science.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
      color: white;
  }
  .gallery {
    display: flex;
    justify-content: space-between;
  }
  
  .gallery a {
    margin: 10px;
    display: inline-block;
    position: relative;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.5s;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }
  
  .gallery a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .gallery a:hover::before {
    opacity: 1;
  }
  
  .gallery .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 768px) {
    .gallery a {
      width: 100%;
      margin-left: 5px;
    }
    .gallery img {
      width:88px;
      height:76px;
      padding: 0;
      margin: 0;
  }
  .gallery{
    display: flex;
    margin-left: 0;
  }
}
  .animated-text {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    animation: animate-text 7s ease-in-out infinite;
  }

  @keyframes animate-text {
    
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(50%);
      opacity: 0;
    }
    
  }
  @media only screen and (max-width:700px){
    .animated-text{
      font-size:3rem;
    }

  }
  .meals{
    height: 56vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.623),rgba(31, 46, 107, 0.7)),url("m3.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header-3{
  height: 67vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("about.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
 
}
@media(max-width:700px){
  .sort img{
    width: 100%;
    height: 56%;
    padding: 0;
    margin: 0;
  }
  .sort{
    margin-left: 0;
    margin-top: 23px;
  }
}
